.membro {
    position: relative;
    width: 280px;
}

.membro .cabecalho {
    border-top-right-radius: 10px;
    border-right: 5px solid;
    border-top: 3px solid;
}

.membro img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: relative;
    bottom: -50px;
}

.membro .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-right: 5px solid;
    padding-top: 40px;
    padding-bottom: 25px;
}

.membro .rodape h4 {
    color: #6278F7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.membro .rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

.excluir-membro {
    position: absolute;
    left: 0px;
    top: 2px;
}

/* .membro:hover {
    .cabecalho,
    .rodape{
        border-color: aqua;
    }
} */