.campo {
    margin: 1.5rem 0;
}

.campo label {
    display: block;
    margin-bottom: 8px;
    font-size: 1.5rem;
}

.campo input {
    border: none;
    width: 100%;
    background-color: #fff;
    box-shadow: 5px 5px 5px #2e2e2e85;
    padding: 1.2rem;
    box-sizing: border-box;
    font-size: 1.2rem;
}

.campo-color input{
    height: 40px;
    width: 45%;
    padding: 2px 5px;
}
