.equipe {
  position: relative;
  text-align: center;
  padding: 34px;
  border-top: solid 2.5px;
  border-right: solid 5px;
  border-top-right-radius: 10px;
  margin: 10px 15px;
}

.equipe h3 {
  font-size: 32px;
  border-bottom: 3px solid;
  display: inline-block;
  padding-bottom: 2.5px;
}

.equipe .membros {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  flex-wrap: wrap;
}

.input-color {
position: absolute;
top: 5px;
left: 5px;
border-style: none; 
}

/* IMPLEMENTAÇÃO FUTURA (TALVEZ) */